<!DOCTYPE html>
<html>
<% include partials/head.ejs %>

    <body>
        <% include partials/navigation.ejs %>

            <div class="jumbotron" style="text-align: center; background-color: aliceblue;">
                <div style="text-align: center;">
                    <h2>
                        Based on the data we have, our last year's production estimate for your installation is
                    </h2>
                    <h1>
                        <%= theoricalProduction %> kWh
                    </h1>
                    <h3>
                        How to interpret the result?
                    </h3>
                    </br>
                    If the production prediction is lower than your actual production, it indicates that your installation is working better
                    than the other installations we have.
                    </br>
                    If the production prediction is lower than your actual production, it indicates that your installation is not performing
                    as well as the other installations we have.
                    </br>
                    <h3>To help you, here is an average of all the installations we possess:</h3>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">
                                <table border="1" style="border-color: black;" class="table table-hover" id="table-averages">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">Inverter efficiency (%)</th>
                                            <th style="text-align: center;">Slope (°)</th>
                                            <th style="text-align: center;">Azimuth (°)</th>
                                            <th style="text-align: center;">Nominal power (wp)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                    </br>
                    <h3>And a average of the installations in your area:</h3>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">
                                <table border="1" style="border-color: black;" class="table table-hover" id="table-local-averages">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">Inverter efficiency (%)</th>
                                            <th style="text-align: center;">Slope (°)</th>
                                            <th style="text-align: center;">Azimuth (°)</th>
                                            <th style="text-align: center;">Nominal power (wp)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                    </br>
                    <h3>Here is a list of the characteristics that can influence your production:</h3>
                    <ul>
                        <li>Wear of panels, connections, wiring, inverter, ...</li>
                        <li>Shadow, snow, dirt, ...</li>
                    </ul>
                    </br>
                    Warning: this is a beta version.
                    </br>
                </div>
            </div>

            </br>
            <h1 style="text-align: center;">Summary of your installation</h1>
            </br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Location</h1>
                        <h3 id="errorLoadGM">Failed to load Google Maps. Refresh the page.</h3>
                        <div id="googleMap" style="height: 50vh;"></div>
                    </div>
                    <div class="col-md-6">
                        <h1>Installation</h1>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label style="text-align: left;" for="installation-production" class="col-sm-4 control-label">Annual production last year (Kwh)</label>
                                <div class="col-sm-8">
                                    <input style="background-color: white;" class="form-control" id="installation-production" readonly/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="text-align: left;" for="installation-inverter-efficiency" class="col-sm-4 control-label">Inverter efficiency (%)</label>
                                <div class="col-sm-8">
                                    <input style="background-color: white;" class="form-control" id="installation-inverter-efficiency" readonly/>
                                </div>
                            </div>
                        </div>
                        </br>
                        <h1>Equipment</h1>
                        <div>
                            <!--<ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab-solar-panel" role="tab" data-toggle="tab">Solar panel</a></li>
                                <li role="presentation"><a href="#wind-turbine" role="tab" data-toggle="tab">Wind turbine</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab-solar-panel">-->
                            <table class="table table-hover" id="table-equipment">
                                <thead>
                                    <tr>
                                        <th>Technology</th>
                                        <th>Nominal power (wp)</th>
                                        <th>Slope (°)</th>
                                        <th>Azimuth (°)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <!--</div>
                                <div role="tabpanel" class="tab-pane" id="wind-turbine">
                                </div>-->
                        </div>
                    </div>
                </div>
            </div>
            </br>

            <% include partials/script.ejs %>
                <script>
                    var currentInstallation = <%- JSON.stringify(currentInstallation) %>;
                    var averages = <%- JSON.stringify(averages) %>;
                    var local_averages = <%- JSON.stringify(local_averages) %>;
                </script>

                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdv3Y8l7bUtzaqTkzawCBroYZqOIaWeaI&language=en&libraries=places"
                    async defer></script>
                <script src="/js/oldScripts/compare.js"></script>
    </body>

</html>