<!DOCTYPE html>
<html>
<% include partials/head.ejs %>

  <body>
    <% include partials/navigation.ejs %>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <button onclick="save();" style="width: 200px;" type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok">&nbsp;</span>Save</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h1>Location</h1>
            <input id="pac-input" class="form-control" type="text" placeholder="Search address...">
            <br/>
            <div id="googleMap" style="height: 50vh;"></div>
          </div>
          <div class="col-md-6">
            <h1>Installation</h1>
            <div class="form-horizontal" style="margin-right: 20px;">
              <div class="form-group">
                <label style="text-align: left;" for="installation-production" class="col-sm-3 control-label">Annual production (Kwh)</label>
                <div class="col-sm-8">
                  <input required value="1" type="number" min="1" step="0.01" class="form-control" id="installation-production" />
                </div>
                <div class="col-sm-1 control-label">
                  <button style="background-color: white;" type="button" onclick="showTipProduction()">
                      <img style="width:20px;" src="/pictures/interrogation.png"/>
                    </button>
                </div>
              </div>
              <div id="tipProduction" hidden>
                <p>
                  The platform makes it possible to compare the annual production. Enter last year's production.
                </p>
                </br>
              </div>
              <div class="form-group">
                <label style="text-align: left;" for="installation-inverter-efficiency" class="col-sm-3 control-label">Inverter efficiency (%)</label>
                <div class="col-sm-8">
                  <input required value="1" type="number" min="1" max="100" step="0.01" class="form-control" id="installation-inverter-efficiency"
                  />
                </div>
                <div class="col-sm-1 control-label">
                  <button style="background-color: white;" type="button" onclick="showTipInverterEfficiency()">
                      <img style="width:20px;" src="/pictures/interrogation.png"/>
                    </button>
                </div>
              </div>
              <div id="tipInverterEffeciency" hidden>
                <p>
                  The performance of PV modules depends technology. Select your PV technology.
                </p>
                </br>
              </div>
            </div>
            </br>
            <h1>Equipment</h1>
            <div>
              <!--<ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab-solar-panel" role="tab" data-toggle="tab">Solar panel</a></li>
                <li role="presentation"><a href="#wind-turbine" role="tab" data-toggle="tab">Wind turbine</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab-solar-panel">-->
              <table class="table table-hover" id="table-equipment">
                <thead>
                  <tr>
                    <th>Technology</th>
                    <th>Nominal power (wp)</th>
                    <th>Slope (°)</th>
                    <th>Azimuth (°)</th>
                    <th>Edit</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
              <button id="btAddEquipment" onclick="refreshModalCreateEquipment();" class="btn btn-primary pull-right" data-toggle="modal"
                data-target="#modal-equipment"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add equipment</button>
              <!--</div>
                <div role="tabpanel" class="tab-pane" id="wind-turbine">
                </div>-->
            </div>
          </div>
        </div>
      </div>
      </div>
      <br/>

      <div class="modal fade" id="modal-equipment" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <form id="form-equipment" class="form-horizontal">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Equipment</h4>
              </div>
              <div class="modal-body" style="margin-right: 20px;">
                <div class="form-group">
                  <label style="text-align: left;" for="select-currentTechnologies" class="col-sm-3 control-label">Technology</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="select-currentTechnologies">
                    </select>
                  </div>
                  <div class="col-sm-1 control-label">
                    <button style="background-color: white;" type="button" onclick="showTipTechnology()">
                      <img style="width:20px;" src="/pictures/interrogation.png"/>
                    </button>
                  </div>
                </div>
                <div id="tipTechnology" hidden>
                  <p>
                    The performance of PV modules depends technology. Select your PV technology.
                  </p>
                  </br>
                </div>
                <div class="form-group">
                  <label style="text-align: left;" for="equipment-nominal-power" class="col-sm-3 control-label">Nominal power (wp)</label>
                  <div class="col-sm-8">
                    <input required type="text" class="form-control" id="equipment-nominal-power" />
                  </div>
                  <div class="col-sm-1 control-label">
                    <button style="background-color: white;" type="button" onclick="showTipNominalPower()">
                      <img style="width:20px;" src="/pictures/interrogation.png"/>
                    </button>
                  </div>
                </div>
                <div id="tipNominalPower" hidden>
                  <p>
                    This is the power that the manufacturer declares that the PV array can produce under standard test conditions. Look at the
                    manual of your PV, and add this for each PV.
                  </p>
                  </br>
                </div>
                <div class="form-group">
                  <label style="text-align: left;" for="equipment-slope" class="col-sm-3 control-label">Slope (°)</label>
                  <div class="col-sm-8">
                    <input required type="number" step="0.01" min="0" max="90" class="form-control" id="equipment-slope" />
                  </div>
                  <div class="col-sm-1 control-label">
                    <button style="background-color: white;" type="button" onclick="showTipSlope()">
                      <img style="width:20px;" src="/pictures/interrogation.png"/>
                    </button>
                  </div>
                </div>
                <div id="tipSlope" hidden>
                  <p>
                    This is the angle of the PV modules from the horizontal plane. From -90 ° to 90 °.
                  </p>
                  </br>
                </div>
                <div class="form-group">
                  <label style="text-align: left;" for="equipment-azimuth" class="col-sm-3 control-label">Azimuth (°)</label>
                  <div class="col-sm-8">
                    <input required type="number" min="-90" max="90" step="0.01" class="form-control" id="equipment-azimuth" />
                  </div>
                  <div class="col-sm-1 control-label">
                    <button style="background-color: white;" type="button" onclick="showTipAzimuth()">
                      <img style="width:20px;" src="/pictures/interrogation.png"/>
                    </button>
                  </div>
                </div>
                <div id="tipAzimuth" hidden>
                  <p>This is the angle of the PV modules relative to the direction due South. -90 deg. is East, 0 deg. is South
                    and 90 deg. is West.
                  </p>
                  </br>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Ok</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <% include partials/script.ejs %>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdv3Y8l7bUtzaqTkzawCBroYZqOIaWeaI&language=en&libraries=places"
          async defer></script>

        <script>
          var isTipTechnolgyDisplayed = false;
          var isTipNominalPowerDisplayed = false;
          var isTipSlopeDisplayed = false;
          var isTipAzimuthDisplayed = false;
          var isTipProductionDisplayed = false;
          var isTipInverterEfficiencyDisplayed = false;

          var address = {};
          var installation = {};
          var mapEquipment = new Map();

          var googleMap;
          var isCreation = true;
          var countEquipment = 0;
          var currentInstallation = <%- JSON.stringify(currentInstallation) %>;
          var currentTechnologies = <%- JSON.stringify(currentTechnologies) %>;

          function refreshModalCreateEquipment() {
            $('#form-equipment').attr('action', 'javascript:createEquipment();');

            $('#equipment-nominal-power').val('');
            $('#equipment-slope').val('');
            $('#equipment-azimuth').val('');
          }

          function refreshModalEditEquipment(id) {
            $('#form-equipment').attr('action', 'javascript:editEquipment(' + id + ');');

            $('#equipment-nominal-power').val(mapEquipment.get(id).nominal_power);
            $('#equipment-slope').val(mapEquipment.get(id).slope);
            $('#equipment-azimuth').val(mapEquipment.get(id).azimuth);
          }

          function createEquipment() {
            var equipment = {
              technologyId: $('#select-currentTechnologies').val(),
              nominal_power: $('#equipment-nominal-power').val(),
              slope: $('#equipment-slope').val(),
              azimuth: $('#equipment-azimuth').val()
            };

            var id = countEquipment++;
            mapEquipment.set(id, equipment);

            var technologyText;
            currentTechnologies.forEach(function (technology) {
              if (technology.id == $("#select-currentTechnologies").val()) {
                technologyText = technology.type;
              }
            });

            $('#table-equipment tbody').append(
              '<tr id="trEquipment' + id + '">' +
              '<td>' + technologyText + '</td>' +
              '<td>' + equipment.nominal_power + '</td>' +
              '<td>' + equipment.slope + '</td>' +
              '<td>' + equipment.azimuth + '</td>' +
              '<td><button onclick="refreshModalEditEquipment(' + id + ');" type="button" class="btn btn-link btn-xs" style="border-color: black;" data-toggle="modal" data-target="#modal-equipment">Edit</button></td>' +
              '<td><button onclick="deleteEquipment(' + id + ');" type="button" class="btn btn-link btn-xs" style="border-color: black;">Remove</button></td>' +
              '</tr>');

            $('#modal-equipment').modal('hide');
            $('#btAddEquipment').hide();
          }

          function editEquipment(id) {
            mapEquipment.get(id).technologyId = $('#select-currentTechnologies').val();
            mapEquipment.get(id).nominal_power = $('#equipment-nominal-power').val();
            mapEquipment.get(id).slope = $('#equipment-slope').val();
            mapEquipment.get(id).azimuth = $('#equipment-azimuth').val();

            var technologyText;
            currentTechnologies.forEach(function (technology) {
              if (technology.id == mapEquipment.get(id).technologyId) {
                technologyText = technology.type;
              }
            });

            var cells = $('#trEquipment' + id + ' td');
            cells.eq(0).html(technologyText);
            cells.eq(1).html(mapEquipment.get(id).nominal_power);
            cells.eq(2).html(mapEquipment.get(id).slope);
            cells.eq(3).html(mapEquipment.get(id).azimuth);

            $('#modal-equipment').modal('hide');
          }

          function deleteEquipment(id) {
            swal({
              title: "Are you sure?",
              text: "Your will not be able to recover this equipment.",
              type: "warning",
              showCancelButton: true,
              confirmButtonClass: "btn-danger",
              confirmButtonText: "Yes, delete it!",
              closeOnConfirm: false
            },
              function () {
                $('#trEquipment' + id).remove();
                mapEquipment.delete(id);
                swal('Deleted!', 'Your equipment has been deleted.', 'success');
                $('#btAddEquipment').show();
              });
          }

          function save() {
            try {
              check_input();

              var equipmentList = [];
              mapEquipment.forEach(function (equipment) {
                equipmentList.push(equipment);
              });

              installation.production = $('#installation-production').val();
              installation.inverter_efficiency = $('#installation-inverter-efficiency').val();

              axios.post('/save', {
                isCreation: isCreation,
                address: address,
                installation: installation,
                equipmentList: equipmentList
              }).then(function (response) {
                switch (String(response.data)) {
                  case '1':
                    window.location.replace('/installations');
                    break;
                  case '-1':
                    swal('Error', 'Addresse already used', 'error');
                    break;
                  case '-2':
                    swal('Error', 'Creation location failed', 'error');
                    break;
                  case '-3':
                    swal('Error', 'Creation installation failed', 'error');
                    break;
                  case '-4':
                    swal('Error', 'Creation equipment failed', 'error');
                    break;
                  case '-5':
                    swal('Error', 'Verfication location failed', 'error');
                    break;
                  case '-6':
                    swal('Error', 'Update failed', 'error');
                    break;
                }
              }).catch(function (error) {
                swal('Error', error, 'error');
              });
            }
            catch (e) {
              swal('Warning', e, 'warning');
              return;
            }
          }

          function check_input() {
            if (address.google_place_id == undefined) {
              throw 'Location is missing';
            }
            else {
              if (address.street_number == undefined || address.street_number == null) {
                throw 'Location is not complete';
              }
            }

            if (mapEquipment.size == 0) {
              throw 'Equipment is missing';
            }

            if ($('#installation-production').val().length == 0) {
              throw 'Production is missing';
            }

            if ($('#installation-inverter-efficiency').val().length == 0) {
              throw 'Inverter efficiency is missing';
            }
          }

          function initAutocomplete() {
            googleMap = new google.maps.Map(document.getElementById('googleMap'), {
              center: { lat: 0, lng: 0 },
              zoom: 1,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);

            googleMap.addListener('bounds_changed', function () {
              searchBox.setBounds(googleMap.getBounds());
            });

            var markers = [];
            searchBox.addListener('places_changed', function () {
              var bounds = new google.maps.LatLngBounds();
              var places = searchBox.getPlaces();

              if (places.length == 0) {
                return;
              }

              places.forEach(function (place) {
                address.google_place_id = place.place_id;
                address.lat = place.geometry.location.lat();
                address.lng = place.geometry.location.lng();
                setComponents(place.address_components);

                var infowindow = new google.maps.InfoWindow({
                  content: place.formatted_address
                });

                var marker = new google.maps.Marker({
                  map: googleMap,
                  position: place.geometry.location
                });

                marker.addListener('click', function () {
                  infowindow.open(googleMap, marker);
                });

                markers.push(marker);

                if (place.geometry.viewport) {
                  bounds.union(place.geometry.viewport);
                } else {
                  bounds.extend(place.geometry.location);
                }
              });

              googleMap.fitBounds(bounds);
            });
          }

          $(document).ready(function () {
            initAutocomplete();
            updateTechnologies();

            if (currentInstallation != null) {
              isCreation = false;
              updateLocation(currentInstallation.location);
              updateInstallation(currentInstallation.installation);
              updateEquipment(currentInstallation.equipmentList);
            }
          });

          function updateLocation(currentLocation) {
            address = {
              id: currentLocation.id,
              google_place_id: currentLocation.google_place_id,
              lat: currentLocation.lat,
              lng: currentLocation.lng,
              street_number: currentLocation.street_number,
              route: currentLocation.route,
              locality: currentLocation.locality,
              postal_code: currentLocation.postal_code,
              country: currentLocation.country
            };

            var infowindow = new google.maps.InfoWindow();
            var service = new google.maps.places.PlacesService(googleMap);
            service.getDetails({
              placeId: currentLocation.google_place_id
            },
              function (place, status) {
                var marker = new google.maps.Marker({
                  map: googleMap,
                  position: place.geometry.location
                });
                google.maps.event.addListener(marker, 'click', function () {
                  infowindow.setContent(address.route + ' ' + address.street_number + ', ' + address.postal_code + ' ' + address.locality + ', ' + address.country);
                  infowindow.open(googleMap, this);
                });

              });

            googleMap.setZoom(15);
            googleMap.setCenter(new google.maps.LatLng(currentLocation.lat, currentLocation.lng));
          }

          function updateInstallation(currentInstallation) {
            installation.id = currentInstallation.id;
            $('#installation-production').val(currentInstallation.production);
            $('#installation-inverter-efficiency').val(currentInstallation.inverter_efficiency);
          }

          function updateEquipment(currentEquipment) {
            $('#btAddEquipment').hide();

            currentEquipment.forEach(function (equipment) {
              if (equipment.id > countEquipment) {
                countEquipment = equipment.id;
              }
              countEquipment++;

              mapEquipment.set(equipment.id, {
                id: equipment.id,
                technologyId: equipment.technologyId,
                nominal_power: equipment.nominal_power,
                slope: equipment.slope,
                azimuth: equipment.azimuth
              });

              var technologyText;
              currentTechnologies.forEach(function (technology) {
                if (technology.id == equipment.technologyId) {
                  technologyText = technology.type;
                  $("#select-currentTechnologies").val(technology.id);
                }
              });

              $('#table-equipment tbody').append(
                '<tr id="trEquipment' + equipment.id + '">' +
                '<td>' + technologyText + '</td>' +
                '<td>' + equipment.nominal_power + '</td>' +
                '<td>' + equipment.slope + '</td>' +
                '<td>' + equipment.azimuth + '</td>' +
                '<td><button onclick="refreshModalEditEquipment(' + equipment.id + ');" type="button" class="btn btn-link btn-xs" style="border-color: black;" data-toggle="modal" data-target="#modal-equipment">Edit</button></td>' +
                '<td><button onclick="deleteEquipment(' + equipment.id + ');" type="button" class="btn btn-link btn-xs" style="border-color: black;">Remove</button></td>' +
                '</tr>');
            });
          }

          function setComponents(address_components) {
            var street_number = null;
            var route = null;
            var locality = null;
            var postal_code = null;
            var country = null;

            address_components.forEach(function (item) {
              item.types.forEach(function (type) {
                switch (type) {
                  case 'street_number':
                    street_number = item.long_name;
                    break;
                  case 'route':
                    route = item.long_name;
                    break;
                  case 'locality':
                    locality = item.long_name;
                    break;
                  case 'postal_code':
                    postal_code = item.long_name;
                    break;
                  case 'country':
                    country = item.long_name;
                    break;
                }
              });
            });

            address.street_number = street_number;
            address.route = route;
            address.locality = locality;
            address.postal_code = postal_code;
            address.country = country;
          }

          function updateTechnologies() {
            currentTechnologies.forEach(function (technology) {
              $('#select-currentTechnologies').append($('<option>', {
                value: technology.id,
                text: technology.type
              }));
            });
          }

          function showTipTechnology() {
            if (isTipTechnolgyDisplayed == false) {
              isTipTechnolgyDisplayed = true;
              $('#tipTechnology').show();
            }
            else {
              isTipTechnolgyDisplayed = false;
              $('#tipTechnology').hide();
            }
          }

          function showTipNominalPower() {
            if (isTipNominalPowerDisplayed == false) {
              isTipNominalPowerDisplayed = true;
              $('#tipNominalPower').show();
            }
            else {
              isTipNominalPowerDisplayed = false;
              $('#tipNominalPower').hide();
            }
          }

          function showTipSlope() {
            if (isTipSlopeDisplayed == false) {
              isTipSlopeDisplayed = true;
              $('#tipSlope').show();
            }
            else {
              isTipSlopeDisplayed = false;
              $('#tipSlope').hide();
            }
          }

          function showTipAzimuth() {
            if (isTipAzimuthDisplayed == false) {
              isTipAzimuthDisplayed = true;
              $('#tipAzimuth').show();
            }
            else {
              isTipAzimuthDisplayed = false;
              $('#tipAzimuth').hide();
            }
          }

          function showTipProduction() {
            if (isTipProductionDisplayed == false) {
              isTipProductionDisplayed = true;
              $('#tipProduction').show();
            }
            else {
              isTipProductionDisplayed = false;
              $('#tipProduction').hide();
            }
          }

          function showTipInverterEfficiency() {
            if (isTipInverterEfficiencyDisplayed == false) {
              isTipInverterEfficiencyDisplayed = true;
              $('#tipInverterEffeciency').show();
            }
            else {
              isTipInverterEfficiencyDisplayed = false;
              $('#tipInverterEffeciency').hide();
            }
          }
        </script>

  </body>

</html>